[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
[submodule "qemu"]
	path = qemu
	url = git://git.qemu.org/qemu.git
[submodule "gem5"]
	path = gem5
	url = https://gem5.googlesource.com/public/gem5/
